.env
.vs/
node_modules/

tedarik_analiz/.env
tedarik_analiz/server/.env
tedarik_analiz/node_modules/
tedarik_analiz/.vs/

tedarik_analiz-clean.git/
*.before-*-backup.js
*.email-otp-backup.js
*.before-*-backup.jsx
*.before-*-backup.ts
*.before-*-backup.tsx
*.email-otp-backup.jsx
